<!DOCTYPE html>
<html>
    <head>
       <title>404</title>
        <link rel="stylesheet" href="./css/sttyle.css">
        
        <script src="./js/app.js"></script>
        
    </head>

<body>
    {{!-- in hbs we use {{ }} for data binding --}}
    <div class="main-content">
    {{>header}}
    <h1>{{message404}}</h1>
    
   
    </div>
    {{>footer}}
</body>

</html>
