<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        <link rel="stylesheet" href="./css/sttyle.css">
    </head>

<body>
    <div class="main-content">
    <h1>{{>header}}</h1>
    <p>This site was crated by Adarsh Singh. It uses data from mapbox.com and darksky.api</p>
    <img class="portrait" src="./img/code.jpg" alt="#">
    <p>{{name}}</p>
    </div>
    {{>footer}}
</body>

</html>
