<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="./css/sttyle.css">
    </head>

<body>
    {{!--  '>'+'partial name i.e. just the filename' gives  --}}
    <div class="main-content">    
    
    {{>header}}
    <h1>{{message}}</h1>
    </div>
    {{>footer}}
</body>

</html>
